@model List<Recipe>
@{
    ViewData["Title"] = "Recipes";
}


<h1 class="p-5 text-center">Recipes</h1>

<div class="row">

    @foreach (var recipe in Model)
    {

        <div class="col-4 mt-3">
            <div class="card">
                <a  asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeId">
                    <img src="@recipe.UrlImage" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeId" style="color:black" class="card-text ">
                        @recipe.Title
                    </a>

                    <div class="text-center">
                        <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeId">Details |</a>
                        <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@recipe.RecipeId">Edit |</a>
                        <a asp-controller="Recipe" asp-action="Delete" asp-route-id="@recipe.RecipeId">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>